/**
 *-------------------------------| 
 *O_O抱歉, 您想访问的页面未找到..|
 *既然来了, 就了解一下博主吧.....|
 *here we go.....................|
 *-------------------------------|
 *
 *
 *你好！.hi. こんにちは.안녕 하세요.Bonjour...
 *我是虞浩，一个passionate C# developer...
 *（欢迎访问http://www.gewara.com）...
 */
html{
  margin-top: 0;
  height: 100%;
  overflow:  hidden;
  background: #c7edcc;
}
body {
  margin-top: 0;
  height: 100%;
  overflow: hidden;
}
#content {
  position: absolute;
  top: 20px; right: 20px; left: 20px; bottom: 20px;
}

#style-text {
  color: white;
  background-color: black;
  position:absolute;overflow: auto;
  width: 600px;
  max-height:85%;
  padding: 24px;
  margin: 24px auto;
  border: 1px solid rgba(0,0,0,0); 
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 4px 0px 2px rgb(63, 82, 99);;
}

*{
  -webkit-transition: all 1s;
}
#style-text{
  -webkit-transform: translateX(95%) rotateY(-10deg);
  -webkit-transform-origin: right;
}
